version: "3.1"
services:
    mongodb:
        image: mongo:4.0
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin123
            MONGO_INITDB_DATABASE: covid19
        ports:
            - 27017:27017
        volumes:
            - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    actix-covid19:
        image: actix-covid19
        depends_on:
            - mongodb
        links:
            - mongodb
        environment:
            HOST: 0.0.0.0
            PORT: 8080
            MONGO_HOST: mongodb
            MONGO_PORT: 27017
            MONGO_DB: covid19
            MONGO_USERNAME: admin
            MONGO_PASSWORD: admin123
            RUST_LOG: debug,actix_web=debug
        ports:
            - 8080:8080